/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffc2a0;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
  text-align: center;
}
